<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>
<body>
    <div th:fragment="home_contents">
        <div class="col-sm-12 my-2">
          <button type="button" class="btn btn-success btn-lg btn-block" th:onclick="|location.href='@{/note/add}'|">今どんなかんじ？</button>
        </div>
        <div class="col-sm-12 my-2">
          <button type="button" class="btn btn-success btn-lg btn-block" th:onclick="|location.href='@{/note/list}'|">いつもどんなかんじ？</button>
        </div>
        <div class="col-sm-12 my-2">
          <button type="button" class="btn btn-success btn-lg btn-block" th:onclick="|location.href='@{/image/imagelist}'|">アルバム</button>
        </div>
        <div class="col-sm-12 my-2">
          <button type="button" class="btn btn-success btn-lg btn-block" th:onclick="|location.href='@{/medicine}'|">おくすりとうろく</button>
        </div>
        <div class="col-sm-12 my-2">
          <button type="button" class="btn btn-success btn-lg btn-block" th:onclick="|location.href='@{/bodyparts}'|">いたいところとうろく</button>
        </div>
    </div>
</body>
</html>
